extends ../../layout

block layout.body
  .container
    //- Chapter index (Lesson list)
    .container-fluid.chapter-index.inner-index
      .row-fluid
        .chapter-header
          .chapter-content
            h2 #{chapter.title}
            p #{chapter.desc}
            -if(isLoggedIn)
              .btn-strip
                a.btn.btn-success(href="/course_editor/lesson/create/#{chapter.id}") Add Lesson
                a.btn(href='/course_editor/chapter/#{chapter.id}/edit') Edit Chapter Info
                a.confirmDeletion.btn.btn-danger(remove-path='/course_editor/chapter/#{chapter.id}/remove', data-toggle="modal", data-target="#myModal", confirm-msg="Are you sure you want to remove '#{chapter.title}' chepter?") Delete Chapter

      .row-fluid
        ul.lessons
          - if(typeof(chapter.lessons) != 'undefined')
            each lesson in chapter.lessons
              li.lesson
                a(href='/course_editor/lesson/#{lesson.id}')
                  h4 #{lesson.title}
                - if(isLoggedIn)
                  - if(lesson.status != 'published')
                    | (Draft)
                  a.confirmDeletion.btn.btn-danger.pull-right(remove-path='/course_editor/lesson/#{lesson.id}/remove', data-toggle="modal", data-target="#myModal", confirm-msg="Are you sure you want to remove '#{lesson.title}' lesson?") Delete
                  - if(lesson.status != 'published')
                    a.btn.btn-success.pull-right(href='/course_editor/lesson/#{lesson.id}/publish') Publish
                  - else
                    a.btn.btn-success.pull-right(href='/course_editor/lesson/#{lesson.id}/unpublish') Unpublish
                  a.btn.pull-right(href='/course_editor/lesson/#{lesson.id}/edit') Edit
                div.moveBox
                    a.upArrow(href="/course_editor/lesson/#{lesson.id}/up")
                      i.icon-chevron-up
                    a.downArrow(href="/course_editor/lesson/#{lesson.id}/down")
                      i.icon-chevron-down

      a.btn(href='/course_editor/course/#{chapter.course.id}') Back

  script(type="text/javascript")

    function init(){

      var myData;

      createModal();

      console.log($('#myModal'));

      $('#myModal').on('show', function(e){
        var data = bridge(false);
        setModalData(data);
      });

      var bridge = function(bool, data) {
        if(bool){
          myData = data;
        } else {
          return myData;
        }
      }

      $('.confirmDeletion').click(function(e){
        var self = $(this);
        var tmpData = {
          path: self.attr('remove-path'),
          body: self.attr('confirm-msg')
        }
        bridge(true, tmpData);
      });      

    }