extends ../layout

block layout.body
  .container
    h1 Courses - 
      -if(isLoggedIn && isAdmin)
        | Admin
      -else
        | #{user.name}

    p
      .course_editor_header
          a.btn.btn-primary(href="/course_editor/create") 
            i.icon-plus.icon-white
            |	Add Course 
          a.btn.btn-primary.pull-right(href="/course_editor/import") 
            i.icon-download-alt.icon-white
            |	Import Course

    p
      ul.course_list
        each course in courses
          -if(isLoggedIn && (isAdmin || (course.created_by && course.created_by._id.toString() == user._id.toString())))
            li 
              .row-fluid
                .span8
                  .pull-left
                    img(src='#{course.iconImage}')
                  .pull-left.courseText
                    a(href='/course_editor/course/#{course.id}')
                      h2 #{course.title} 
                    - if(course.created_by)
                      p created By : #{course.created_by.name}

                .btn-group.btn-group-vertical.pull-right.courseListBtnGroup
                  -if(course.status != 'published')
                    a.btn.btn-success(href="/course_editor/course/#{course.id}/publish") Publish
                  a.btn(href="/course_editor/course/#{course.id}/edit") Edit
                  -if(! course.featured)
                    a.btn(href="/course_editor/course/#{course.id}/featured") Add to Featured
                  -else
                    a.btn(href="/course_editor/course/#{course.id}/unfeatured") Remove from Featured
                  a.btn(href="/course_editor/course/#{course.id}/export") Export
                  -if(course.status == 'published')
                    a.btn.btn-warning(href="/course_editor/course/#{course.id}/unpublish") Unpublish
                  a.confirmDeletion.btn.btn-danger(remove-path="/course_editor/course/#{course.id}/remove", data-toggle="modal", data-target="#myModal", confirm-msg="Are you sure you want to remove '#{course.title}' course?") Remove
  
  script(type="text/javascript")

    function init(){
      var myData;

      createModal();

      console.log($('#myModal'));

      $('#myModal').on('show', function(e){
        var data = bridge(false);
        setModalData(data);
      });

      var bridge = function(bool, data) {
        if(bool){
          myData = data;
        } else {
          return myData;
        }
      }

      $('.confirmDeletion').click(function(e){
        var self = $(this);
        var tmpData = {
          path: self.attr('remove-path'),
          body: self.attr('confirm-msg')
        }
        bridge(true, tmpData);
      });      
    }