.container
  h1 #{title}
  .actions 
    ul.admin_view_list_items
      each user in users
        li
          -if(user.name) 
            label(for='#{user.id}', style='display:inline') #{user.name}
          -else
            label(for='#{user.id}', style='display:inline') #{user.email}
          .pull-right
            a.btn(href='/admin/approve/#{user.id}', id='#{user.id}', style="display:inline") Approve