h1= title
.head
  ul
    li
      a(href="/admin/roles") Roles
      .counts.pull-right
        label [Count - #{users.length}]
.actions 
  ul
    each user in users
      li 
        a(href='/admin/#{user.id}/roles', id='#{user.id}') #{user.name}
        .roles.pull-right
            label #{user.roles.join(', ')}