h1= title
.actions 
  ul
    each user in users
      li 
        a(href='/user/#{user.id}', id='#{user.id}') #{user.name}
        .roles.btn-group.pull-right(data-toggle='buttons-checkbox')
          each role in roles
            - if(user.roles.join(',').indexOf(role.name) >= 0)
              button.btn.active(id='#{role._id}') #{role.name}
            - else
              button.btn(id='#{role._id}') #{role.name}

script
  $('.roles').button();
  $('.roles button').click(function(e) {
    var self = this;
    $.ajax({
      url: '/admin/' + $(self).parents().find('a').attr('id') + '/' + $(self).attr('id'),
      type: 'get',
      success: function(data) {
        if(typeof(data) == 'string') {
          data = JSON.parse(data);
        }
        
        if(!data.success) {
          $(self).removeClass('active');
        }
      },
      error: function(error) {
        console.log(error);
      }
    });
    
  });