.container
  h1 Labs

  br

  .labsHeader
    a.btn.pull-right(href="/admin/labs/create") 
      i.icon-plus
      |   Add New Lab


  table.table.table-bordered.labsTable
    thead
      tr
        th Name
        th Type
        th RunList
        th Action
    tbody
      -var index = 0;
      each lab in labs
        tr
          td #{lab.name}
          td #{lab.type}
          td #{lab.runList}
          td 
            a.btn.btn-success(href="/admin/labs/#{lab.id}/edit") Edit 
            a.btn.btn-danger(href="/admin/labs/#{lab.id}/remove") Delete