extends ../layout

block layout.body
  .container
    h1 Labs

    br

    .labsHeader
      a.btn.pull-right(href="/admin/labs/create") 
        i.icon-plus
        |   Add New Lab


    table.table.table-bordered.labsTable
      thead
        tr
          th Name
          th Type
          th RunList
          th Action
      tbody
        -var index = 0;
        each lab in labs
          tr
            td #{lab.name}
            td #{lab.type}
            td #{lab.runList}
            td 
              a.btn.btn-success(href="/admin/labs/#{lab.id}/edit") Edit 
              a.confirmDeletion.btn.btn-danger(remove-path="/admin/labs/#{lab.id}/remove", data-toggle="modal", data-target="#myModal", confirm-msg="Are you sure you want to remove '#{lab.name}' user?") Remove

  script(type="text/javascript")
    function init() {

      // code for confirm box - modal
      var myData;
      createModal();
      console.log($('#myModal'));
      $('#myModal').on('show', function(e){
        var data = bridge(false);
        setModalData(data);
      });
      var bridge = function(bool, data) {
        if(bool){
          myData = data;
        } else {
          return myData;
        }
      }
      $('.confirmDeletion').click(function(e){
        var self = $(this);
        var tmpData = {
          path: self.attr('remove-path'),
          body: self.attr('confirm-msg')
        }
        bridge(true, tmpData);
      });      
    }