form(method='POST', id='courseForm' ,enctype='multipart/form-data')
  .row-fluid
    .pull-left
      p
        label(for="selectIconImage") Icon Image:
        .iconPreviewPane
          - if(course.iconImage)
            img#cropTargetIcon(src='#{course.iconImage}')
            input(type='hidden', name='iconImage', value='#{course.iconImage}')
        button.btn.img-btn(type='button', name='selectIconImage', id='selectIconImage') Change
    .pull-left.text-info.span6
      p
        label(for="title") Title:
        input.span12.required(type='text', value='#{course.title}', id='title', name='title')
      p
        label(for="description") Description:
        textarea.span12.required(type='text', name='description', id='description', rows="6") #{course.desc}
      p
        input#cropIconImgInfo(name='cropIconImgInfo', type='hidden')
        input#cropWallImgInfo(name='cropWallImgInfo', type='hidden')
  .row-fluid
    p
      label(for="selectWallImage") Wallpaper Image:
      .wallPreviewPane
        - if(course.wallImage)
          img#cropTargetWall(src='#{course.wallImage}')
          input(type='hidden', name='wallImage', value='#{course.wallImage}')
      button.btn.img-btn(type='button', name='selectWallImage', id='selectWallImage') Change
  .row-fluid
    p
      input.btn.btn-primary(type='submit', value='Submit')

script
  $(document).ready(function() {
    filepicker.setKey('462_D0Z1RnO8iMRHhSZb');
    
    $("#selectIconImage").click(function(){
      filepicker.getFile(filepicker.MIMETYPES.IMAGES, {'multiple':false}, function(url, token, data) {
        var $previewPane = $('.iconPreviewPane');

        $previewPane.empty();
        $('<img/>', {
          src: url,
          id: 'cropTargetIcon'
        }).appendTo($previewPane);

        $('<input/>', {
          type: 'hidden',
          name: 'iconImage',
          value: url
        }).appendTo($previewPane);
  
        // Initialize JCrop for Icon
        $('#cropTargetIcon').Jcrop({
          aspectRatio: 250/250,
          //- minSize: [250, 250],
          setSelect: [0, 0, 250, 250],
          bgOpacity: 0.5,
          onSelect: function(c){
            $('#cropIconImgInfo').val(JSON.stringify(c))
          }
        });
      });
    });
    
    $("#selectWallImage").click(function(){
      filepicker.getFile(filepicker.MIMETYPES.IMAGES, {'multiple':false}, function(url, token, data) {
        var $previewPane = $('.wallPreviewPane');

        $previewPane.empty();
        $('<img/>', {
          src: url,
          id: 'cropTargetWall'
        }).appendTo($previewPane);

        $('<input/>', {
          type: 'hidden',
          name: 'wallImage',
          value: url
        }).appendTo($previewPane);

        // Initialize JCrop for wallpaper
        $('#cropTargetWall').Jcrop({
          aspectRatio: 800/450,
          //- minSize: [800, 450],
          setSelect: [0, 0, 800, 450],
          bgOpacity: 0.5,
          onSelect: function(c){
            $('#cropWallImgInfo').val(JSON.stringify(c))
          }
        });
      });
    });



  });
