form(method='POST', id='courseForm' ,enctype='multipart/form-data')
  p
    label(for="title") Title:
    input.required(value='#{course.title}', id='title', name='title')
  p
    label(for="description") Description:
    textarea.required(name='description', id='description')
      #{course.desc}
  p
    input#cropIconImgInfo(name='cropIconImgInfo', type='hidden')
    input#cropWallImgInfo(name='cropWallImgInfo', type='hidden')
  p
    label(for="selectIconImage") Icon Image:
    button.btn(type='button', name='selectIconImage', id='selectIconImage') Choose
    .iconPreviewPane
      - if(course.iconImage)
        img#cropTargetIcon(src='#{course.iconImage}')
        input(type='hidden', name='iconImage', value='#{course.iconImage}')
  p
    label(for="selectWallImage") Wallpaper Image:
    button.btn(type='button', name='selectWallImage', id='selectWallImage') Choose
    .wallPreviewPane
      - if(course.wallImage)
        img#cropTargetWall(src='#{course.wallImage}')
        input(type='hidden', name='wallImage', value='#{course.wallImage}')
  p
    input.btn.btn-primary(type='submit', value='Submit')

script
  $(document).ready(function() {
    filepicker.setKey('462_D0Z1RnO8iMRHhSZb');
    
    $("#selectIconImage").click(function(){
      filepicker.getFile(filepicker.MIMETYPES.IMAGES, {'multiple':false}, function(url, token, data) {
        var $previewPane = $('.iconPreviewPane');

        $previewPane.empty();
        $('<img/>', {
          src: url,
          id: 'cropTargetIcon'
        }).appendTo($previewPane);

        $('<input/>', {
          type: 'hidden',
          name: 'iconImage',
          value: url
        }).appendTo($previewPane);
  
        // Initialize JCrop for Icon
        $('#cropTargetIcon').Jcrop({
          aspectRatio: 250/250,
          //- minSize: [250, 250],
          setSelect: [0, 0, 250, 250],
          bgOpacity: 0.5,
          onSelect: function(c){
            $('#cropIconImgInfo').val(JSON.stringify(c))
          }
        });

      });
    });
    
    $("#selectWallImage").click(function(){
      filepicker.getFile(filepicker.MIMETYPES.IMAGES, {'multiple':false}, function(url, token, data) {
        var $previewPane = $('.wallPreviewPane');

        $previewPane.empty();
        $('<img/>', {
          src: url,
          id: 'cropTargetWall'
        }).appendTo($previewPane);

        $('<input/>', {
          type: 'hidden',
          name: 'wallImage',
          value: url
        }).appendTo($previewPane);

        // Initialize JCrop for wallpaper
        $('#cropTargetWall').Jcrop({
          aspectRatio: 800/450,
          //- minSize: [800, 450],
          setSelect: [0, 0, 800, 450],
          bgOpacity: 0.5,
          onSelect: function(c){
            $('#cropWallImgInfo').val(JSON.stringify(c))
          }
        });
      });
    });



  });
