extends ../../layout

block layout.body
  .container
    //- Course index (Chapter list)
    .container-fluid.course-index.inner-index
      .row-fluid
        .course-header
          - if(typeof(course.iconImage) != 'undefined')
            .course-img
              img(src='#{course.iconImage}')
          .course-content
            h2 #{course.title}
            p #{course.desc}
            -if(isLoggedIn)
              .btn-strip
                a.btn.btn-success(href="/course_editor/chapter/create/#{course.id}") Add Chapter
                a.btn(href='/course_editor/course/#{course.id}/edit') Edit Course Info
                a.confirmDeletion.btn.btn-danger(remove-path='/course_editor/course/#{course.id}/remove', data-toggle="modal", data-target="#myModal", confirm-msg="Are you sure you want to remove '#{course.title}' course?") Remove Course
         
      .row-fluid
        ul.chapters
          - if(typeof(course.chapters) != 'undefined')
            each chapter in course.chapters
              li.chapter
                a(href='/course_editor/chapter/#{chapter.id}/')
                  h4 #{chapter.title}
                - if(user != undefined)
                  - if(chapter.status != 'published')
                    | (Draft)
                  a.confirmDeletion.btn.btn-danger.pull-right(remove-path='/course_editor/chapter/#{chapter.id}/remove', data-toggle="modal", data-target="#myModal", confirm-msg="Are you sure you want to remove '#{chapter.title}' chapter?") Remove
                  - if(chapter.status != 'published')
                    a.btn.btn-success.pull-right(href='/course_editor/chapter/#{chapter.id}/publish') Publish
                  - else
                    a.btn.btn-success.pull-right(href='/course_editor/chapter/#{chapter.id}/unpublish') Unpublish
                  a.btn.pull-right(href='/course_editor/chapter/#{chapter.id}/edit') Edit
                div.moveBox
                  a.upArrow(href="/course_editor/chapter/#{chapter.id}/up")
                    i.icon-chevron-up
                  a.downArrow(href="/course_editor/chapter/#{chapter.id}/down")
                    i.icon-chevron-down

      div
        a.btn(href='/course_editor') Back

  script(type="text/javascript")

    function init(){
      var myData;

      createModal();

      console.log($('#myModal'));

      $('#myModal').on('show', function(e){
        var data = bridge(false);
        setModalData(data);
      });

      var bridge = function(bool, data) {
        if(bool){
          myData = data;
        } else {
          return myData;
        }
      }

      $('.confirmDeletion').click(function(e){
        var self = $(this);
        var tmpData = {
          path: self.attr('remove-path'),
          body: self.attr('confirm-msg')
        }
        bridge(true, tmpData);
      });      
    }