//=require bootstrap-tabs bootstrap-scrollspy
.row-fluid
    .sidebar.well
      ul.nav.nav-list( data-spy="scroll" )
        li.nav-header 
          i.icon-book
          | Course Content
        - var chapters = course.chapters || []
        #chaptersCollapseble.accordion
          each innerChapter in chapters
            .accordion-group
              .accordion-heading
                a.accordion-toggle(data-toggle="collapse", data-parent="#chaptersCollapseble", href="#les#{innerChapter.id}")
                  li.nav-header #{innerChapter.title}
              .accordion-body.collapse(id="les#{innerChapter.id}")
                .accordion-inner
                  each innerLesson in allLessons
                    - if (innerLesson.chapter.toString() == innerChapter._id.toString())
                      - if (innerLesson.id.toString() == lesson.id.toString())
                          li #{innerLesson.title}
                      - else
                          li 
                            a(href='/lesson/#{innerLesson.id}') #{innerLesson.title}

script
  function init(){
    $('.collapse').collapse('show');
  }