extends ../layout

block layout.body
  .container
    include ../_breadcrumb
    - var type = 'radio';
    .container-fluid.course-index.inner-index
      h1 #{lesson.title}
      .row-fluid
        .span9
          - if(typeof(assessment) == 'undefined' || assessment == null)
            p #{lesson.desc}
            h4(style="text-align: center;") It's a Quiz of #{lesson.quiz.marks} Marks
            br
            div(style="text-align: center;")
              a.btn.btn-primary.btn-large(href="/assessment/quiz/#{lesson.id}/start") Start Quiz
            br
            br
          - else if(assessment.status == 'inProgress')
            p #{lesson.desc}
            h4(style="text-align: center;") It's a Quiz of #{lesson.quiz.marks} Marks
            br
            div(style="text-align: center;")
              a.btn.btn-primary.btn-large(href="/assessment/quiz/#{lesson.id}/continue") Continue Quiz
            br
            br
          - else if(assessment.status == 'assessed')
            h1 Congratulations !!!
            hr
            h3 Dear #{username},
            h4 You successfully completed the quiz and your result is   
                - var per = Math.round((assessment.score * 100 / quiz.marks)*100)/100;
                code(style="padding:8px;") #{per}%  (Marks : #{assessment.score}/#{assessment.lesson.marks})
            br
            hr
          - else
            h1 Quiz completed !!!
            hr
            h3 Dear #{username},
            h4 You successfully completed the quiz and your result will be mail to your mail account after examin.

            br
            hr
          .lessonBar
            a.btn.pull-left(href='/lesson/#{lesson.id}/previous/') Previous
            a.btn.pull-right.btn-success(href="/lesson/#{lesson.id}/next/") Next 
        .span3
          include _sidebar
