- if(lesson.type == 'video')
  input#videoContent(name='videoContent' ,type='hidden')
  input#type(name='videoType' ,type='hidden')
  h3 Upload Video

  select#videoType 
    option(value='Upload') Upload
    option(value='Youtube') Youtube

  div#upload
    p Upload Video File :
    input#video.input-large(name='videofile', type='file', placeholder='Video File')
  div#youtube    
    p Youtube URL :
    input#videoLink.input-large(name='videofile', type='text', placeholder='Video File')
    input#showYoutubePreview(type="button", value="Preview")
  
  div#videoPreview
    p Video Preview :
    video#player(width='300', height='300', preload="none")
      - if(typeof(lesson.video.content) != 'undefined' && typeof(lesson.video.type) != 'undefined' && lesson.video.type == 'youtube')
        source(type='video/youtube', src='http://www.youtube.com/watch?v=#{lesson.video.content}')
      - else if(typeof(lesson.video.content) != 'undefined' && typeof(lesson.video.type) != 'undefined' && lesson.video.type == 'upload')
        source(type='video/mp4', src='#{lesson.video.content}')

- else if(lesson.type == 'quiz')
  h3 Quiz
  br
  p Marks
  input(type='text', name="marks", value="#{lesson.quiz.marks}")    

- else if(lesson.type == 'programming')
  p Programming :
  select#editLanguage(name='language', value='#{lesson.programming.language}')
    option(value="java") Java
    //- option(value="javascript") JavaScript
    //- option(value="xml") XML
    //- option(value="html") HTML
    //- option(value="css") CSS
    //- option(value="scss") SCSS
    //- option(value="python") Python
    //- option(value="php") PHP
    //- option(value="ruby") Ruby
    //- option(value="c_cpp") C/C++
    //- option(value="coffee") CoffeeScript
    //- option(value="json") JSON
    //- option(value="perl") Perl
    //- option(value="clojure") Clojure
    //- option(value="ocaml") OCaml
    //- option(value="csharp") C#
    //- option(value="svg") SVG
    //- option(value="textile") Textile
    //- option(value="groovy") Groovy
    //- option(value="scala") Scala

  p Boiler Plate Code :
  textarea.span6#code(name='boilerPlateCode', rows="5") #{lesson.programming.boilerPlateCode}

- else if(lesson.type == 'sysAdmin')
    select.serverName#serverName(name='serverName', multiple='multiple', style='display:none')
      each item in lesson.sysAdmin.vms
        each labInstance in lab
          - if (labInstance._id.toString() == item.ref)
            option(value='#{item.ref}') #{labInstance.name}

    select#vmName(name='vmNames', multiple='multiple', style='display:none')
      each item in lesson.sysAdmin.vms
        each labInstance in lab
          - if (labInstance._id.toString() == item.ref)
            option(value='#{item.vm_name}') #{item.vm_name}

    select#vmHostName(name='vmHostNames', multiple='multiple', style='display:none')
      each item in lesson.sysAdmin.vms
        each labInstance in lab
          - if (labInstance._id.toString() == item.ref)
            option(value='#{item.hostname}') #{item.hostname}

    #selectedOptContainer
      each item in lesson.sysAdmin.vms
        each labInstance in lab
          - if(labInstance._id.toString() == item.ref)
            div( class="optionDiv", rel="popover",
              data-content="<table class='table table-bordered'><tr><td><h5> Name :</h5></td><td>#{item.vm_name}</td></tr><tr><td><h5> Hostname :</h5></td><td>#{item.hostname}</td></tr><tr><td><h5> Type :</h5></td><td>#{labInstance.type}</td></tr><tr><td><h5> Memory :</h5></td><td>#{labInstance.memory}</td></tr><tr><td><h5> Storage :</h5></td><td>#{labInstance.storage}</td></tr><tr><td><h5> Run List :</h5></td><td>#{labInstance.runList}</td></tr></table>",
              data-original-title="#{labInstance.name}") #{item.vm_name} (#{labInstance.name})
              i.icon-remove.close.pull-right.closeOptBtn
    
    != partial('sysAdminForm')

- else
  pre
    strong Sorry 
    | Undefined Lesson type [unable to edit]