- if(lesson.type == 'video')
  input#videoContent(name='videoContent' ,type='hidden')
  input#type(name='videoType' ,type='hidden')
  h3 Upload Video

  select#videoType 
    option(value='Upload') Upload
    option(value='Youtube') Youtube

  div#upload
    p Upload Video File :
    input#video.input-large(name='videofile', type='file', placeholder='Video File')
  div#youtube    
    p Youtube URL :
    input#videoLink.input-large(name='videofile', type='text', placeholder='Video File')
    input#showYoutubePreview(type="button", value="Preview")
  
  div#videoPreview
    p Video Preview :
    video#player(width='300', height='300', preload="none")
      - if(typeof(lesson.video.content) != 'undefined' && typeof(lesson.video.type) != 'undefined' && lesson.video.type == 'youtube')
        source(type='video/youtube', src='http://www.youtube.com/watch?v=#{lesson.video.content}')
      - else if(typeof(lesson.video.content) != 'undefined' && typeof(lesson.video.type) != 'undefined' && lesson.video.type == 'upload')
        source(type='video/mp4', src='#{lesson.video.content}')

- else if(lesson.type == 'quiz')
  h3 Quiz
  br
  div#questionBox
    - var questionNo = 0;
    each questionContent,questionIndex in lesson.quiz.questions
      div.addedQuestion
        p Question #{questionIndex}:
        input.question(type="text", value="#{questionContent.question}", name="question[#{questionIndex}]")
        br
        div.options
          p Options
          - var optionnameIndex = 0;
          each option,optionIndex in answersJSON[questionIndex]
            div.addedOption
              - if(option)
                input.questionOptionCheckbox(type="checkBox", name="questionOptionCheckbox[#{questionIndex}][#{optionnameIndex}]", checked)
              - else
                input.questionOptionCheckbox(type="checkBox", name="questionOptionCheckbox[#{questionIndex}][#{optionnameIndex}]")
              input.questionOption(type="text", value="#{optionIndex}", name="questionOption[#{questionIndex}][#{optionnameIndex}]")
              - optionnameIndex = optionnameIndex + 1;
          div.addedOption
            input.questionOptionCheckbox(type="checkBox", name="questionOptionCheckbox[#{questionIndex}][#{optionnameIndex}]")
            input.questionOption(type="text", name="questionOption[#{questionIndex}][#{optionnameIndex}]")
      - questionNo = questionNo + 1;
    div.addedQuestion
      p Question #{questionNo}:
      input.question(type="text", name="question[#{questionNo}]")
      br
      div.options
        p Options
        div.addedOption
          input.questionOptionCheckbox(type="checkBox", name="questionOptionCheckbox[#{questionNo}][0]")
          input.questionOption(type="text", name="questionOption[#{questionNo}][0]")

- else if(lesson.type == 'programming')
  p Programming :
  select#editLanguage(name='language')
    option(value='c_cpp') C
    option(value='c_cpp') C++
    option(value='css') CSS
    option(value='Java') Java
  p Code :
  textarea#code(name='code') #{lesson.programming.skeletonCode}
  p Enter Input :
  textarea#input(name='input') #{lesson.programming.input}
  p Enter Output :
  textarea#output(name='output') #{lesson.programming.output}

- else if(lesson.type == 'sysAdmin')
    select.serverName#serverName(name='serverName', multiple='multiple', style='display:none')
      each labInstance in lab
        - var count = 0;
        - if(typeof(lesson.sysAdmin.serverInfo)!='undefined') {
        -   for(var index = 0; index < lesson.sysAdmin.serverInfo.length; index++){
        -     if(lesson.sysAdmin.serverInfo[index].toString() == labInstance._id.toString()) {count++;}
        -   }
        -   if(count>0)
              option(value="#{labInstance._id} ( #{count} )", selected) #{labInstance.name} ( #{count} )
        - }
    #selectedOptContainer(style="min-height: 20px; width: 210px; border: 1px solid; padding: 3px 5px;")
    a.btn(data-toggle="modal", href="#myModal", style="margin: 5px 0px;") Add Server
    div.modal.hide#myModal
      div.modal-header
        button.close(type="button", data-dismiss="modal") x
        h3 Add Server 
      div.modal-body
        p Select Server :
        select#selectedServer(name='selectedServer')
          option(value="0") Select
          each labInstance,index in lab
            option(value="#{labInstance._id}") #{labInstance.name}
        div#serverInfo
        a.btn#addServerName(data-dismiss="modal") Add
      div.modal-footer
        a.btn(data-dismiss="modal") Close
    p Upload Verification File :
    input.input-large(name='verificationFile', type='file')
- else
  pre
    strong Sorry 
    | Undefined Lesson type [unable to edit]