extends ../../layout

block layout.body
  .container
    .container-fluid.course-index.inner-index
      h1 #{lesson.title}
      p
        strong Description:-
        p #{lesson.desc}
      .row-fluid
        .spam10
          a.btn(href="/assessment/question/create/#{lesson.id}")
            i.icon-plus
            |  Add Question
          a.btn.pull-right(href="/assessment/question/import/#{lesson.id}") 
            i.icon-download-alt
            |  Import Questions

      .actions 
        ul.questionList
          each question in questions
            li
              .innerDiv
                label #{question.question} 
                  - if(question.points == 1)
                    span.label.label-success Easy
                  - else if(question.points == 2)
                    span.label.label-warning Modrate
                  - else if(question.points == 3)
                    span.label.label-important Hard
                .pull-right.actionBtns
                  a.btn.btn-success(href="/assessment/question/#{question.id}/edit")
                    i.icon-edit.icon-white
                    |  Edit Question
                  a.btn.btn-danger(href="/assessment/question/#{question.id}/remove")
                    i.icon-trash.icon-white 
                    |  Delete Question
              - if(question.type == "mcq")
                ul
                  each opt in question.choices
                    li #{opt}
              - else if(question.type == "essay")
                ul
                  each ansLine in question.answers
                    li #{ansLine.answer}
              - else
                label Undefined Queestion type
      a.btn(href='/course_editor/chapter/#{lesson.chapter.id}') Back