//- Course index (Chapter list)
include _header
.container-fluid.course-index.inner-index
  .row-fluid
    .course-header
      - if(typeof(course.image) != 'undefined')
        .course-img
          img(src='#{course.image}')
      .course-content
        h2 #{course.title}
        p #{course.desc}
        -if(everyauth.loggedIn && isAdmin)
          .btn-strip
            //a.btn.btn-success(href="/chapter/create/#{course.id}") Add Chapter
            //a.btn(href='/course/#{course.id}/edit/') Edit Course Info
            //a.btn.btn-danger(href='/course/#{course.id}/remove/') Delete Course
            - if(course.status != 'published')
              //a.btn.btn-success(href='/course/#{course.id}/publish', style='margin-right: 5px;') Publish
            - else
              //a.btn.btn-success(href='/course/#{course.id}/unpublish', style='margin-right: 5px;') Unpublish

  .row-fluid
    ul.chapters
      - if(typeof(course.chapters) != 'undefined')
        each chapter in course.chapters
          - if(chapter.status == 'published' || isAdmin)
            li.chapter
              a(href='/chapter/#{chapter.id}')
                h3
                  #{chapter.title}
              - if(user != undefined && isAdmin)
                - if(chapter.status != 'published')
                  | (Draft)
                //a.btn.btn-danger.pull-right(href='/chapter/#{chapter.id}/remove', style='margin-right: 5px;') Delete
                - if(chapter.status != 'published')
                  //a.btn.btn-success.pull-right(href='/chapter/#{chapter.id}/publish', style='margin-right: 5px;') Publish
                - else
                  //a.btn.btn-success.pull-right(href='/chapter/#{chapter.id}/unpublish', style='margin-right: 5px;') Unpublish
                //a.btn.pull-right(href='/chapter/#{chapter.id}/edit', style='margin-right: 5px;') Edit
              .progress(style='margin: 10px 0;')
                - if(progressObject)
                    for pro in progressObject.chapters
                      if(chapter.id == pro.id)
                        .bar(style="width: #{pro.progress}%;")
                - else
                      .bar(style="width:0%;")
              div.moveBox
                //a.upArrow(href="/chapter/#{chapter.id}/up")
                  i.icon-chevron-up
                //a.downArrow(href="/chapter/#{chapter.id}/down")
                  i.icon-chevron-down