//- Course index (Chapter list)
.container
  include ../_breadcrumb
  .container-fluid.course-index.inner-index
    .row-fluid
      .span4
        .course-header
          - if(typeof(course.image) != 'undefined')
            .course-img
              img(src='#{course.image}')
      .span8
        .course-content
          .row-fluid
            h1 #{course.title}
            h5 Created By : Steve Dahl
            h5 Date : 
          .row-fluid.detailsBorder
            h2 Description
            p #{course.desc}
          .row-fluid.detailsBorder
            h3 Rating: 
            img(src="/img/th_rating.gif")
          .row-fluid.detailsBorder
            h3 Overall Course Progress
            .progress.progress-striped.progressTotal
              .bar(style="width: #{progressObject.progress}%;")
    .row-fluid
      .span6
        #detailsAccordion.accordion
          each chapter,chapterIndex in course.chapters
            .accordion-group
              div.accordion-heading
                a(href="##{chapter.id}", data-parent="#detailsAccordion", data-toggle="collapse", class="accordion-toggle") #{chapter.title}
                .progress
                  .bar(style="width: #{progressObject.chapters[chapterIndex].progress}%;")
              div(class="accordion-body collapse", id="#{chapter.id}", style="height: 0px;")
                .accordion-inner
                  ul
                    li
                      div.videoIcon
                        div.statusNotStarted
                          a(href="#") video
                    li
                      div.quizIcon
                        div.statusonGoing
                          a(href="#") quiz
                    li
                      div.programmingIcon
                        div.statusCompleted
                          a(href="#") programming
                    li
                      div.sysAdminIcon
                        div.statusonGoing
                          a(href="#") sysAdmin
      .span6
        h3 Chapter 1
        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (ifnjected humour and the like)
        .row-fluid
          .btn-group.backBtn
            a.btn.btn-large(href="javascript:history.go(-1)") back
    .row-fluid.reviewsWrapper
      .row-fluid.reviewHeader
        Reviews
      .row-fluid
        .row-fluid.reviewBox
          h3 name 1
          p text text text
        .row-fluid.reviewBox
          h3 name 1
          p text text text
        .row-fluid.reviewBox
          h3 name 1
          p text text text