extends ../layout

block layout.body
  //- Course index (Chapter list)
  .container
    include ../_breadcrumb
    .container-fluid.course-index.inner-index
      h3 #{course.title}
      .row-fluid
        .span8
          .course-content
            .row-fluid
              - var creater = course.created_by ? course.created_by.name : undefined;
              - if(creater)
                p.author-and-time Created by&nbsp
                  span.name #{creater}&nbsp
                  time(datetime="#{course.created_at}") #{course.created_at}
                  .
            .row-fluid
              p #{course.desc}
        .span1
        .span3
          .course-header
            - if(typeof(course.iconImage) != 'undefined')
              .course-img(style='background-image:url(#{course.iconImage})')
          - if(false)
            .row-fluid.detailsBorder
              h3 Rating:
              img(src="/img/th_rating.gif")
          - if(progress)
            - if(progress.status != 'completed')
              .row-fluid
                p Overall Course Progress
                .progress
                  .bar(style="width: #{progress.progress}%;")
              .row-fluid
                a.btn.btn-primary.btn-large(href="/course/#{course.id}/continue") Continue
          - if(!progress)
              a.btn.btn-primary.btn-large(href="/course/#{course.id}/start") Start

      .row-fluid(style="margin-top:30px;")
        .span8
          each chapter in chapters
            -var chapterDesc = chapter.desc || "";
            input.desc(name='desc' ,type='hidden' ,value='#{chapterDesc}')
            input.title(name='title' ,type='hidden' ,value='#{chapter.title}')
            h5 #{chapter.title}
            p#chapterDesc #{chapterDesc}

            - if(progress)
              .progress
                .bar(style="width: #{progress.chapters[chapter._id].progress}%;")
            ul.lessonList
              each lesson in chapter.lessons
                - var icon = lesson.type + 'Icon';
                li.lessonType(class="#{icon}", data-status="#{progress.chapters[chapter._id].lessons[lesson._id].status}") #{lesson.title}
                  - if(progress)
                    span.lessonStatus

          -var title = "", desc = "";
          -if(chapters[0])
            title = chapters[0].title;
            desc = chapters[0].desc;
//          .row-fluid
            .btn-group.backBtn
              a.btn.btn-large(href="javascript:history.go(-1)") back
      - if(false)
        .row-fluid.reviewsWrapper
          .row-fluid.reviewHeader
            Reviews
          .row-fluid
            .row-fluid.reviewBox
              h3 name 1
              p text text text
            .row-fluid.reviewBox
              h3 name 1
              p text text text
            .row-fluid.reviewBox
              h3 name 1
              p text text text

  script(type='text/javascript')
    function init() {
    $(function(){
        $(".contentChapter").mouseover(function(e) {
              $('#chapterTitle').html($(e.target).parents('.accordion-group').find('.title').val());
              $('#chapterDesc').html($(e.target).parents('.accordion-group').find('.desc').val());
            });
      });
      $("time").each(function(){
        date = new Date($(this).text());
        $(this).attr('datetime', date.toISOString());
      });
      $("time").timeago();
    }
