extends ../layout

block layout.body
  //- Course Admin index?
  - course = {id: 1};
  .container
    a(href="/course_editor") Course editor
    .row-fluid
      .row-fluid.span9
        .slides-wrapper
          ul.slides
            each courseObject,courseIndex in featuredCourses
              -if(courseObject.status == 'published' || isAdmin)
                li(style="background:url(#{courseObject.wallImage}) no-repeat center center;")
                  .content
                    h3.courseTitle #{courseObject.title}
                    p.description This course provides a detailed guideline for training your pet dragon. It is perfect for the vikings.
                    //p #{courseObject.desc}
                  a(href="/course/#{courseObject.id}") Details
      ul.slides-navigation
    .row-fluid
      .row-fluid.span12
        .courses-boxes
          each regularCourse in regularCourses
            .row-fluid.span3
              div.course-box
                div.course-image(style="background-image:url(#{regularCourse.iconImage})")
                h4 #{regularCourse.title}
                p This course provides a detailed guideline for training your pet dragon. It is perfect for the vikings.

  script(type="text/javascript")
    /*function init() {
      $('.flexslider').flexslider({
        animation: "slide",
        directionNav: false,
        controlNav: false,
        prevText: "Previous",
        nextText: "Next",
        controlsContainer: ".flexslider-container"
      });
    }*/
    function init() {
      require(['cycle'], function() {
        $(function(){
          $('ul.slides').cycle({
            timeout: 0,
            pager: '.slides-navigation',
            pagerAnchorBuilder: function(idx, slide) {
              title = $(slide).find('h3.courseTitle').text();
              description = $(slide).find('p.description').text();
              img = $(slide).css('background-image');
              return '<li><a href="#"><h4>' + title + '</h4><p>Some more content here</p></a></li>';
            }
          });
        });
      });
    }