h1= title
.actions 
  ul
    li
      a(href='/course/create') Add Course
h3 Here are the Courses
p
  h4 Categories
  ul.categories
   - each category in categories
     li 
       a(href='/courses/?category=#{category.name}') #{category.name}
   li
     a(href='/courses/') All Courses
table.data
  tr
    th Title
    th Category
    th Users
    th Created
  - each course in courses
    - courseDate = new Date(course.created_at)
    tr
      td
        a(href='/courses/#{course._id}') #{course.title} \n
      td= course.category
      td= course.users.length
      td= courseDate
