h1= title
-if (loggedInUser.is_admin || loggedInUser.is_root || loggedInUser._id === course.user_id)
  .actions 
    ul
      li
        a(href='/course/#{post._id}/edit/') Edit Course
      li 
        a(href='/course/#{post._id}/remove/') Delete Course
h3 Here's the course
p Content: #{course.content}
p Category: 
  a(href='/courses/?category=#{course.category}') #{course.category}
-if (course.user && course.user.username)
  p By: 
    a(href='/user/#{course.user_id}') #{course.user.username}
