//- Chapter index (Lesson list)
include _header
.container-fluid.chapter-index.inner-index
  .row-fluid
    .chapter-header
      .chapter-content
        h2 #{chapter.title}
        p #{chapter.desc}
        -if(everyauth.loggedIn && isAdmin)
          .btn-strip
            //a.btn.btn-success(href="/lesson/create/#{chapter.id}") Add Lesson
            //a.btn(href='/chapter/#{chapter.id}/edit') Edit Chapter Info
            //a.btn.btn-danger(href='/chapter/#{chapter.id}/remove') Delete Chapter

  .row-fluid
    ul.lessons
      - if(typeof(chapter.lessons) != 'undefined')
        each lesson in chapter.lessons
          li.lesson
            a(href='/lesson/#{lesson.id}/')
              h3 
                #{lesson.title}
            - if(everyauth.loggedIn && isAdmin)
              - if(lesson.status != 'published')
                | (Draft)
              //a.btn.btn-danger.pull-right(href='/lesson/#{lesson.id}/remove', style='margin-right: 5px;') Delete
              - if(lesson.status != 'published')
                //a.btn.btn-success.pull-right(href='/lesson/#{lesson.id}/publish', style='margin-right: 5px;') Publish
              - else
                //a.btn.btn-success.pull-right(href='/lesson/#{lesson.id}/unpublish', style='margin-right: 5px;') Unpublish
              //a.btn.pull-right(href='/lesson/#{lesson.id}/edit', style='margin-right: 5px;') Edit
            .progress(style='margin: 10px 0;')
              .bar(style="width: 0%;")
            div.moveBox
                //a.upArrow(href="/lesson/#{lesson.id}/up")
                  i.icon-chevron-up
                //a.downArrow(href="/lesson/#{lesson.id}/down")
                  i.icon-chevron-down
