//- subject to move into courses/
style
	.layer-wrapper { position: relative; width:100%; height:100% }
	.layer { position:absolute; width:100%; height:100% }
	.choice-wrapper { position:absolute; display:block; background-color: rgba(0,0,0,0.2); width: 14px; height:14px; padding-left:2px; padding-bottom:2px; }
	.choice-wrapper input { width:14px; height: 14px;  margin: 0; }
	.form-control { height:80px; bottom:0; padding-top:20px; text-align: center; background: rgba(0,0,0,0.5); }
	.bingo { background-color: #468847; box-shadow: 0 0 0 2px #468847; }
	
include courses/_header

- var auto_select =  (typeof choice != 'undefined') ? true: false;
- var has_match = (typeof correct != 'undefined' && auto_select) ? true:false;
.container-fluid
	header.page-header
		h1 Quiz

	.row-fluid
		.span10
			-if (typeof(message) != 'undefined' && message)
				- if (has_match && correct)
					.alert.alert-success
						| #{message}
				- else
					.alert.alert-error
						| #{message}
	.row-fluid
		.span10
			- var quiz = {  question: { src: "/quiz/2/quiz-1.jpg", width: 898, height: 500 }, answers:[{ val: "A", x: 92, y:140 }, { val:"B", x: 92, y:166}, { val:"C", x: 92, y:190}, { val:"D", x: 92, y:215}]  }
			form#quiz.layer-wrapper(action="/quiz/#{course._id}/#{unit_id}/#{lesson_id}",method="post", style="width:#{quiz.question.width}px; height:#{quiz.question.height}px")
				img.question-body.layer(src="#{quiz.question.src}")
				.ans-wrapper.layer
					#choices.layer-wrapper
						each ans, i in quiz.answers
								- var selected = (auto_select && ans.val === choice) ? 'true':'';
								- var match = (has_match && selected) ? 'true':'';
								span.choice-wrapper(style="left:#{ans.x}px; top:#{ans.y}px;", data-matched="#{match}")
									input.g-radio-button(type="radio", name="quiz-1", value="#{ans.val}", data-checked="#{selected}")
				.form-control.layer
					button.btn.btn-primary.btn-large(type="submit") Answer
		.span2
			include courses/_sidebar

	.row-fluid
		p

	.row-fluid
		.span10
			include courses/_footer

script
	$(function(){
		$("input[data-checked='true']").attr('checked', 'checked');
		$("[data-matched='true']").addClass("bingo")
	});